:root{
    --Light-red: #ff525d; /*CTA text*/
    --Very-light-red: #ff7a85; /*CTA hover background*/
    --Very-dark-blue: #1f3f5b;/*headings*/

    /* Neutral */

    --White: #ffffff; /*text*/
    --Grayish-blue: #c8c8cb; /*footer text*/
    --Very-dark-grayish-blue: #4b5862;/*body copy*/
    --Very-dark-black-blue: #25252d; /*footer background*/

    /* Gradient */

    /* Background gradient - Intro/CTA mobile nav: */

    --Very-light-red: #ff8f70;
    --Light-red: #ff3d54;

    /* Background gradient - body */

    --Very-dark-gray-blue: #2c2d3f;
    --Very-dark-desaturated-blue: #3f4164;

    /* fonts */

    --font-Overpass: 'Overpass', sans-serif;
    --font-Ubuntu: 'Ubuntu', sans-serif;
}

#container2{
    font-family: var(--font-Overpass);
    width: 100%;
    height: 500px;
    background-image: url(/images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right -180px;
    margin-top: -170px;
}

#container2 h2{
    text-align: center;
    margin-top: 250px;
    margin-bottom: -50px;
    color: var(--Very-dark-blue);
    font-weight: 800;
    font-size: 2rem;
}

#img-container2 img{
    display: none;
    width: 100%;
    margin: auto;
    margin-top: 120px;
}

#container2 h3{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 1.8rem;
}

#container2 p{
    color: var(--Very-dark-grayish-blue);
}

#texto-cotainer2{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

@media (max-width: 1000px){

    #container2{
        background-position: center ;
        background: none;
        height: 100%;
    }

    #texto-cotainer2{
        margin: auto;
        margin-top: 50px;
        text-align: center;
        width: 85vw;
    }

    #img-container2 img{
        display: block;
    }

    #container2 h3{
        width: 80vw;
        margin: auto;
        margin-top: 30px;
        font-size: 2rem;
    }
}